.Header {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.Header__language {
  background-color: none;
  margin-right: 8px;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid var(--slateGrayVeryTransparent);
  color: var(--slateGrayVeryTransparent);
  transition: all 0.25s;
  outline: none;
}


.Header__language--selected {
  background-color: var(--cyan-seagreen);
  color: var(--slateGrayTransparent);
}

.Header__language:hover {
  color: var(--slateGrayTransparent);
}
