.event-info-card-container {
  margin-bottom: 20px;
  border: solid 2px black;
  margin-right: 1.25%;
  width: 350px;
  height: 350px;
  position: relative;
}

.event-info-card {
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
}

.event-details-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.event-details-container:hover div {
  color: white;
  z-index: 10;
}


.event-details {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.background-image-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-color: black;
   transition: all 0.75s;
   opacity: 0.25;
   transform: scale(1,1);
   z-index: 0;
}


.background-image-container:hover {
  cursor: pointer;
  opacity: 0.95;
  transform: scale(1.035,1.035);
}


.open-overlay{
  height: 82%;
  text-align: center;
}

.vertical-text-container {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.see-more-details-text {
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px;
  transition: color 0.5s;
  text-transform: uppercase;
  color: var(--cyan-seagreen);
}
