.bottomContainer {
  display: flex;
  text-align: center;
  flex-direction: row;
  margin-top: 20px;
  @media #{$desktop}, #{$tablet-landscape} {
    min-width: 768px;
  }
  justify-content: space-around;
  @media #{$mobile}, #{$tablet-portrait} {
    flex-direction: column;
  }
}

.eventDetailsHeader {
  text-align: center;
  @media #{$mobile} {
    margin-top: 70px;
  }
}

.BackBtn {
  cursor: pointer;
  margin-top: -20px;
}

.BackBtnLoading {
  svg {
    stroke: lightgray;
  }
}
