.spotifyWebPlayerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgray;
  border-top: 1px solid darkgray;

  @media #{$mobile} {
    height: 140px;
  }

  @media #{$desktop}, #{$tablet} {
    height: 100px;
  }
}

.SpotifyWebPlayer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  padding: 10px;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.webPlayerItem {
  text-align: center;

  @media #{$desktop}, #{$tablet} {
    flex-basis: 30%;
  }
}
