.container {
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$mobile} {
    flex-direction: column-reverse;
  }
}

.top-tracks {
  margin-top: 20px;
}

.venue-details {
  text-align: center;
  margin-bottom: 20px;
}
