@import '../styles/fonts.scss';

.Search {
  margin-bottom: 20px;
  text-align: center;
}

.SingleDatePicker {
  display: block;
}

.SingleDatePickerInput {
  position: relative;
}

.SingleDatePicker_picker {
  left: -65% !important;
}

.DateInput {
  width: auto;
}

.DateInput_fang {
  display: none;
}

.DateInput * {
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  @extend .marquee-text-bold;
  background: transparent;
}

.SingleDatePicker_picker * {
  font-family: 'BebasNeueLight', "Courier New", Courier, monospace;
  letter-spacing: .125rem;
}

.CalendarMonth_caption * {
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  font-size: 2.2rem;
}

.DateInput_input {
  text-decoration: underline;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

/****** SEARCH LOCATION *******/
.Search__location-input {
  text-decoration: underline;
  outline: none;
  border: none;
  color:#484848;
  cursor: pointer;
  text-align: center;
}

.Search__location-input:focus {
  outline: none;
}

.Search__location-input::placeholder {
  text-decoration: underline;
}

.Search__locationDropdown {
  font-size: 3.7rem;
  cursor: pointer;
  transition: all;
}

.Search__locationDropdown:hover {
  font-weight: 900;
}
