.DateInput_input {
  text-align: center;
  font-family: #{$BebasNeue-Regular};
  background-color: transparent;
  cursor: pointer;
}

.DateInput {
  background-color: transparent;
}

.SingleDatePickerInput {
  background-color: transparent;
}
