@font-face{
  font-family: BebasNeueLight;
  src: url('/static/fonts/bebas_neue_light.otf')
}

@font-face{
  font-family: BebasNeueRegular;
  src: url('/static/fonts/bebas_neue_regular.otf')
}

@font-face{
  font-family: BebasNeueBold;
  src: url('/static/fonts/bebas_neue_bold.otf')
}

@font-face{
  font-family: MonteserratSemiBold;
  src: url('/static/fonts/montserrat_semi_bold.otf')
}

@font-face{
  font-family: MonteserratLight;
  src: url('/static/fonts/montserrat_light.otf')
}


.marquee-text-light {
  font-family: 'BebasNeueLight', "Courier New", Courier, monospace;
  @media #{$desktop}, #{$tablet} {
    font-size: 6.2rem;
    letter-spacing: .185rem;
  }

  @media #{$mobile} {
    font-size: 5.2rem;
    letter-spacing: .100rem;
  }

}

.marquee-text-bold {
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  @media #{$desktop}, #{$tablet} {
    font-size: 6.2rem;
    letter-spacing: .125rem;
  }

  @media #{$mobile} {
    font-size: 5.2rem;
    letter-spacing: .100rem;
  }
}

.menu-overlay-header{
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  font-size: 2.4rem;
  letter-spacing: .0075rem;
  line-height: 3.2rem;
  color: black;
}

.menu-overlay-contact-us{
  font-family: 'MonteserratLight', "Courier New", Courier, monospace;
  font-size: 2.0rem;
  letter-spacing: 0.6rem;
  line-height: 2.7rem;
  color: black;
}

.menu-overlay-contact{
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  font-size: 2.4rem;
  letter-spacing: .075rem;
  line-height: 2.9rem;
  color: black;
}

.supporting-text{
  font-family: 'MonteserratSemiBold', "Arial Black", Gadget, sans-serif;
  font-size: 1.8rem;
  letter-spacing: .4rem;
  line-height: 2.4rem;
}

.artist-headline-text{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 4.8rem;
  letter-spacing: .5rem;
  line-height: 5.8rem;
}

.artist-subtext{
  font-family: 'BebasNeueBold', Arial Black, Helvetica, sans-serif;
  font-size: 2.4rem;
  letter-spacing: .25rem;
  line-height: 3.0rem;
}

.context-text{
  font-family: 'BebasNeueBold', Arial Black, Helvetica, sans-serif;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  line-height: 2.4rem;
}


.calendar-header-text{
  font-family: 'BebasNeueBold', Arial Black, Helvetica, sans-serif;
  font-size: 4.6rem;
  letter-spacing: .05rem;
  line-height: 5.0rem;
}

.calendar-main-text{
  font-family: 'BebasNeueLight', "Courier New", Courier, monospace;
  font-size: 3.0rem;
  letter-spacing: .2rem;
  line-height: 3.0rem;
  line-height: 3.0rem;
}

.artist-overlay-text{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  letter-spacing: .25rem;
  line-height: 2.4rem;
}

.artist-overlay-subtext{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  line-height: 2.4rem;
}
