@font-face {
  font-family: BebasNeue-Light;
  src: url("/fonts/BebasNeue/BebasNeue-Light.otf");
  src: url("/fonts/BebasNeue/BebasNeue-Light.ttf") format("truetype");
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url("/fonts/BebasNeue/BebasNeue-Regular.otf");
  src: url("/fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: BebasNeue-Bold;
  src: url("/fonts/BebasNeue/BebasNeue-Bold.otf");
  src: url("/fonts/BebasNeue/BebasNeue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Monteserrat-SemiBold;
  src: url("/fonts/Monteserrat/Monteserrat-SemiBold.otf");
  src: url("/fonts/Monteserrat/Monteserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Monteserrat-Light;
  src: url("/fonts/Monteserrat/Monteserrat-Light.otf");
  src: url("/fonts/Monteserrat/Monteserrat-Light.ttf") format("truetype");
}
