* {
    font-family: 'Arial';
}

html {
  font-size: 10px;
}

:root {
  --strawGold: rgba(194, 175, 137, 1);
  --murkySeagreen: rgba(129, 162, 159, 1);
  --sunsetOrange: rgba(255,82,82,1);
  --slateGray: rgba(76,78,75,1);
  --black: rgba(0,0,0,1);
  --cyan-seagreen: rgba(153,189,172,1);
  --slateGrayTransparent: rgba(76,78,75,0.94);
  --slateGrayVeryTransparent: rgba(76,78,75,0.5);
  --strawGoldTransparent: rgba(194, 175, 137, 0.94);


  --mobile: (max-width: 768px);
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
