$mobile: "(max-width: 767px)";
$tablet-portrait: "(min-width: 768px) and (max-width: 1024px) and (orientation : portrait)";
$tablet-landscape: "(min-width: 768px) and (max-width: 1024px) and (orientation : landscape)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";

$AvenirNext-Regular: "AvenirNext-Regular,HelveticaNeue-Regular,Helvetica Neue,Gill Sans MT,Arial,sans-serif";
$AvenirNext-DemiBold: "AvenirNext-DemiBold,HelveticaNeue-DemiBold,Helvetica Neue,Gill Sans MT,Arial,sans-serif";
$AvenirNext-Medium: "AvenirNext-Medium,HelveticaNeue-Medium,Helvetica Neue,Gill Sans MT,Arial,sans-serif";
$AvenirNext-Bold: "AvenirNext-Bold,HelveticaNeue-Bold,Helvetica Neue,Gill Sans MT,Arial,sans-serif";
$AvenirNext-Light: "AvenirNext,Helvetica-Neue-Light,HelveticaNeue,Helvetica,Arial,sans-serif";
$AvenirNext-UltraLight: "AvenirNext-UltraLight,HelveticaNeue-UltraLight,Helvetica Neue,Gill Sans MT,Arial,sans-serif";
